services:
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: development
      MYSQL_USER: mysql
      MYSQL_PASSWORD: ssinfo
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

volumes:
  mysql_data:
