services:
  front:
    build:
      context: .
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    command: bash -c "yarn dev"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next
    networks:
      - app-network

  mysql:
    image: mysql:8.0-bookworm
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: development
      MYSQL_USER: mysql
      MYSQL_PASSWORD: ssinfo
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  mysql_data:
  node_modules:
  next_cache:

networks:
  app-network:
    driver: bridge
