apiVersion: v1
kind: Service
metadata:
  name: nextjs
spec:
  type: NodePort
  selector:
    app: nextjs
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextjs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextjs
  template:
    metadata:
      labels:
        app: nextjs
    spec:
      initContainers:
        - name: migrate
          image: quino28/ssinfo
          command: ["npx", "prisma", "migrate", "deploy"]
          env:
            - name: DATABASE_URL
              value: "mysql://mysql:ssinfo@mysql:3306/development"
      containers:
        - name: nextjs
          image: quino28/ssinfo
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              value: "mysql://mysql:ssinfo@mysql:3306/development"
