@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.dark .fc-day-today {
  background-color: #078286 !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* calendar */
.fc-theme-standard th {
  background-color: var(--your-desired-header-color) !important;
}

.fc-day-today {
  background-color: #b4eee0 !important;
}
